@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background: #fdf0e9;

  .top-box {
    width: 100%;
    padding: 140px 203px 108px 135px;
    display: flex;
    justify-content: space-between;
    .box1 {
      .p-1 {
        /* margin-top: 140px; */
        color: var(--text-dark-accent, #ef6d58);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Epilogue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      h1 {
        margin-top: 17px;
        color: var(--text-dark, #391400);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Epilogue;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
      }

      .p-2 {
        margin-top: 31px;
        margin-bottom: 28px;
        color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
        font-feature-settings: "clig" off, "liga" off;

        /* Text */
        font-family: Epilogue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 200% */
      }

      a {
        color: var(--text-dark, #391400);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Epilogue;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-decoration: none;
      }
    }
    .box2 {
      ul {
        margin-top: 70px;
        li {
          display: flex;
          align-items: center;
          list-style-type: none;
          h2 {
            color: var(--text-dark, #391400);
            font-feature-settings: "clig" off, "liga" off;
            font-family: Epilogue;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
          }
    
          h3 {
            margin-right: 60px;
            color: #391400;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Epilogue;
            font-size: 72px;
            font-style: normal;
            font-weight: 800;
            line-height: 80px;
            letter-spacing: -2px;
          }
        }
      }
    }
  }

  .mid-line {
    width: 1170px;
    height: 1px;
    background: #f3d1bf;
    margin: auto;
  }

  .bottom-box {
    padding: 0px 135px 135px 135px;
    background-color: #fdf0e9;
    display: flex;
    justify-content: space-between;

    video {
      margin-top: 127px;
    }

    .p-1 {
      margin-top: 187px;
      margin-left: 130px;
      color: var(--text-dark-accent, #ef6d58);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Epilogue;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .h1-bot {
      margin-left: 130px;
      color: var(--text-dark, #391400);
      font-feature-settings: "clig" off, "liga" off;
      font-family: Epilogue;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: 48px;
    }

    .p-2 {
      margin: 28px 0 0 130px;
      color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
      font-feature-settings: "clig" off, "liga" off;
      font-family: Epilogue;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }
}
